body {
  background-color: rgb(246, 246, 246);
}

.container {
  width: 40%;
  margin-left: 30%;
  margin-top: 10%;
  display: grid;
  position: relative;
}

.fix-card {
  width: 100%;
  display: flex;
  background-color: white;
  border-bottom: 2px solid rgb(246, 246, 246);
  justify-content: space-between;
  height: 35px;
  align-items: center;
}

.fix-card input {
  height: 100%;
  border: none;
  margin-left: 2.5%;
}

.icon {
  margin-right: 2.5%;
  height: 60%;
}

.description {
  margin-left: 2.5%;
  color: rgb(106, 106, 106);
}

.fix-card input::placeholder {
  font-style: italic;
  color: rgb(220, 220, 220);
  font-size: 14px;
  line-height: 1.6;
  font-weight: 550;
}

.task-card {
  width: 100%;
  display: flex;
  background-color: white;
  border-bottom: 2px solid rgb(246, 246, 246);
  height: 35px;
  align-items: center;
  justify-content: space-between;
}

.task-card div {
  height: 100%;
  display: flex;
  width: 80%;
  align-items: center;
}

.selection-icon { margin-left: 2.5%; }

.task-description {
  margin: 0 auto 0 2.5%;
  height: 40%;
  color: rgb(67, 67, 67);
}

.edit {
  justify-self: flex-end;
  margin-right: 2.5%;
}

.clear-button {
  background-color: rgb(246, 246, 246);
  width: 100%;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 2px solid rgb(218, 218, 218);
  color: rgb(137, 137, 137);
}
